li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  /* width: 100%; */
}
nav {
  width: 100%;
  margin-top: 0;

}
.nav-button-container{
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  box-shadow: 0 2px 5px lightgray;
}

.nav-button{
  width: 90px;
  height: 50px;
  border: 0;
  /* border-bottom: 5px solid transparent; */
  background-color: transparent;
}

.nav-button:hover{
  background-color: rgb(240, 240, 240);

}
/* .active .nav-button{
  border-bottom: 5px solid black;
} */
.hamburger-menu{
  /* font-size: large; */
  font-size: x-large;
  width: 100px;

  /* margin-right: 50px; */
  position:fixed;
  top: 0;
  right:0;
  /* border: 1px solid black;
  border-radius: 100px; */
  padding: 5px;
}

.hamburger-text{
  border: 1px solid black;
  border-radius: 100px;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.dropped-menu{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items:center;
  border: 1px solid black;
  border-radius: 5px;
}
