/* .post-modal{
  background-color: white;
  box-shadow: 0 0 10px black;
} */

.bean-title{
  font-family: Arial, Helvetica, sans-serif;
font-size: 24pt;
margin-top: 0;

}

.bean-post {
  /* display:block; */
  width: 30%;

  /* margin-left: auto;
  margin-right: auto; */
  padding: 0;
  /* border: 10px solid black inset; */

  /* box-shadow: 0 0 10px black ; */
  /* transition-duration: 0.4s; */

}

.bean-created {
  font-weight: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12pt;
  margin-bottom: 0;
}

.img-detail-container {
  display: flex;
  justify-content: space-evenly;
}
