#star-rating{
  display: flex;
  flex-direction: row-reverse;
  align-content: left;
}
input.star{
  appearance: none;
  background-image: url("../../images/star-black.png");
  margin:1px;
  width:30px;
  height: 30px;
}
input.star:checked, input.star:checked ~ input.star{
  background-image: url("../../images/star-gold.png");
}
